{% load static %}
{% block navbar_css %}
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock%}
<nav class="navbar">
    <div class="brand">Travel Destinations</div>
    <button class="toggle-btn" onclick="toggleMenu()">☰</button>
    <ul class="nav-links" id="navLinks">
        <li><a href="#">Features</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="user/register">Register</a></li>
        <li><a href="user/login">Login</a></li>
    </ul>
</nav>
{% block navbar_js %}
  <script src="{% static 'js/script.js' %}"></script>
{% endblock%}